{{#partial "content"}}
        <div class="jumbotron my-2 p-3 p-md-5 text-white rounded bg-dark">
            <h1 class="display-4 font-italic text-center">LatinX Hack-A-Thon</h1>
            <h4 class="text-center">Portland's newest LatinX Hack-A-Thon event</h4>
            <p class="lead my-3">Held at the Portland State Business Accelerator, this weekend’s participants will spend 54 hours over three days networking, coaching, sharing, and finally, showing off big ideas at the Sunday presentations. The idea behind the Latino-focused event is to expose the Hack-A-Thon formula and resources to a group of entrepreneurs that may not typically have access or awareness of such programs.</p>
        </div>
        <div class="text-center">
            <h3>Event Details</h3>
            <p><strong>When:</strong></p>
            <p>5pm Friday, June 1<sup>st</sup> - 9pm Sunday, June 3<sup>rd</sup></p>
            <p><strong>Where:</strong></p>
            <p>Portland State Business Accelerator</p>
            <p>2828 SW Corbett Ave</p>
            <p>Portland, OR 97201</p>
            <p><strong>Registered Teams:</strong></p>
            <p>{{registeredTeams}}</p>
        </div>
{{/partial}}

{{> layout.hbs}}